.synth-container {
  display: flex;
  width: 100%;
  justify-content: center;
  .btn-set-note {
    width: 30px;
    border-radius: 5px;
  }
}

.button-play {
  height: 40px;
  width: 40px;
  border: none;
  margin: 5px;
  border-radius: 5px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
  }
  &.active {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
  span {
    font-family: "Slackey-Regular";
    color: $dark;
    opacity: 0.5;
  }
}


