$grey: 	rgb(105,105,105);
$dark: rgb(44, 44, 44);
$dark-lighter: rgb(82, 82, 82);

@font-face {
  font-family: "Slackey-Regular";
  src: url("../assets/fonts/Slackey-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: "Viga-Regular";
  src: url("../assets/fonts/Viga-Regular.ttf") format("truetype"),
}